/* MAIN INICIO */

.body_inicio {
    background-image: url(../Fotos/nav.jpg);
    background-position: center;
}

.main_inicio_presentation {
    text-align: center;

    h1 {
        padding: 5px;
        margin: 5px;
        color: white;
    }

    p {
        color: white;
        font-weight: bold;
        margin-bottom: 15px;
    }

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: $color-primary;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 30px;
        display: inline-block;
        transition: 0.2s;

        &:hover {
            transition: 0.2s ease-in-out;
            background-color: $color-hover;
        }
    }

    img {
        width: 185px;
        height: 190px;
        border-radius: 200px;
        border: 3px solid black;
        box-shadow: 5px 5px 15px #1e2326;
        margin-top: 2rem;
    }
}

.main_inicio {
    height: 1150px;
    padding-top: 40px;
    width: 100%;
    min-width: 300px;
}

.main_inicio_section {
    text-align: center;
    display: block;
    position: static;
    margin: 30px 50px 15px 50px;
    padding: 10px;
    color: white;

    h2 {
        margin-bottom: 10px;
        font-size: 22px;
    }

    p {
        color: white;
        font-weight: bolder;
        text-align: center;
        margin: 0px 180px 0px 180px;
    }
}

.main_inicio_images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 210px;

    img {
        width: 350px !important;
        margin-top: 10px !important;
    }
}


/* RESPONSIVE MAIN */

@media(min-width:200px) {
    .main_inicio {
        height: 2000px;
    }

    .main_inicio_section {
        p {
            margin: auto;
            text-align: justify;
        }
    }

    .main_inicio_images {
        img {
            margin-top: 50px !important;
            width: 250px !important;
        }
    }
}

@media(min-width:450px) {
    .main_inicio {
        height: 1900px;
    }

    .main_inicio_section {
        p {
            margin: auto;
        }
    }

    .main_inicio_images {
        img {
            margin: 5px;
            width: 350px !important;
        }
    }
}

@media(min-width:720px) {
    .main_inicio {
        height: 1350px;
    }
}

@media(min-width:1060px) {
    .main_inicio_section {
        p {
            margin: auto;
            text-align: center;
        }
    }

    .main_inicio_images {
        img {
            width: 400px !important;
        }
    }
}

@media(min-width:1700px) {
    .main_inicio_section {
        p {
            width: 1600px;
        }
    }
}