/* ICONOS */

.fa-solid {
    margin-right: 5px;
    color: white;
}

.main_formacion_list .fa-solid {
    margin-left: 5px;
    color: white;
    transition: 0s;
}

.main_formacion_list .fa-brands {
    margin-left: 5px;
    color: white;
    transition: 0s;
}

.fa-brands {
    margin-right: 5px;
}

#up_arrow {
    margin: 0;
}